.cuck{
  display: flex;
  flex-wrap: wrap;
  font-size: 170px;
  color: #fb8c00;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 70vh;
  font-family: 'Roboto', sans-serif;
}
#pepe{
    color: red;
}
.scale-up-center {
	-webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

p{
  margin: 0%;
}
body{
  width: 100%;
  height: 100vh;
margin: 0%;
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-color: rgb(38,38,38);
}
.prompt{
  color: white;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  text-align:  center;
}
html {
    height: 100%;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.button:active {
    background-image: url("pepe.jpg");
}
